*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: 'Architects Daughter', cursive;
}
header {
  background-image: url("../img/rainbow.jpg");
  background-size: cover;
  width: 400px;
  height: 150px;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border: 2px dashed green;
  box-shadow:
  0 0 20px black,
  20px 15px 30px yellow,
  -20px 15px 30px lime,
  -20px -15px 30px blue,
  20px -15px 30px red;
}
#container {
  background-image: url(../img/world-map.jpg);
  width: 100%;
  height: 1000px;
  position: relative;
  background-repeat: no-repeat;
}

img {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  margin: auto;
  display: block;
  box-shadow: 3px 3px 5px black;
}

h4 {
  text-align: center;
  margin: 0;
  font-weight: 400;
  display: none;
}
h3 {
  text-decoration: underline;
  text-align: center;
}

#axolotl {
  position: absolute;
  top: 250px;
  left: 325px;
}

.animal-info {
  display: none;
  position: absolute;
  top: 740px;
  left: 770px;
  z-index: 3;
  width: 340px;
  font-size: 12px;
}

#axolotl:active + #axolotl-info,
#balrog:active + #balrog-info,
#duck:active + #duck-info,
#ferret:active + #ferret-info,
#manatee:active + #manatee-info,
#pika:active + #pika-info,
#pudu:active + #pudu-info,
#rhino:active + #rhino-info,
#sand-cat:active + #sand-cat-info,
#woylie:active + #woylie-info,
#snow:active + #snow-info {
  display: block;
}


@keyframes hang {
  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(6px);
  }
}
.animal:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px lightblue;
  font-weight: 700;
  animation-name: hang;
  animation-duration: 1.5s;
  animation-delay: $defaultDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#axolotl:hover:after {
  /*font-weight: bold;
  position: absolute;*/
  text-align: center;
  content: "Axolotl";
}

#balrog {
  position: absolute;
  top: 700px;
  left: 1600px;
}
#balrog:hover:after {
  text-align: center;
  content: "Balrog";
}

#duck {
  position: absolute;
  top: 200px;
  left: 1250px;
}
#duck:hover:after {
  position: absolute;
  text-align: center;
  content: "Mandarin Duck";
}

#ferret {
  position: absolute;
  top: 140px;
  left: 370px;
}
#ferret:hover:after {
  position: absolute;
  text-align: center;
  content: "Black Footed Ferret";
}

#manatee {
  position: absolute;
  top: 250px;
  left: 420px;
}
#manatee:hover:after {
  position: absolute;
  text-align: center;
  content: "American Manatee";
}

#pika {
  position: absolute;
  top: 65px;
  left: 350px;
}
#pika:hover:after {
  position: absolute;
  content: "Pika";
}

#pudu {
  position: absolute;
  top: 600px;
  left: 500px;
}
#pudu:hover:after {
  position: absolute;
  text-align: center;
  content: "Pudu";
}

#rhino {
  position: absolute;
  top: 500px;
  left: 925px;
}
#rhino:hover:after {
  position: absolute;
  text-align: center;
  content: "Black Rhino";
}

#sand-cat {
  position: absolute;
  top: 250px;
  left: 850px;
}
#sand-cat:hover:after {
  position: absolute;
  text-align: center;
  content: "Sand Cat";
}

#snow {
  position: absolute;
  top: 95px;
  left: 1150px;
}
#snow:hover:after {
  position: absolute;
  text-align: center;
  content: "Snow Leopard";
}

#woylie {
  position: absolute;
  top: 580px;
  left: 1425px;
}
#woylie:hover:after {
  position: absolute;
  text-align: center;
  content: "Woylie";
}

#infoBox {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 695px;
  left: 750px;
  margin: auto;
	padding:0;
	border:1px solid rgba(0,0,0,0.5);
	border-radius:10px 10px 2px 2px;
	-webkit-box-shadow:
		0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 10px rgba(255,255,255,0.2),
		inset 0 10px 20px rgba(255,255,255,0.25),
		inset 0 -15px 30px rgba(0,0,0,0.3);
	-moz-box-shadow:
		0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 10px rgba(255,255,255,0.2),
		inset 0 10px 20px rgba(255,255,255,0.25),
		inset 0 -15px 30px rgba(0,0,0,0.3);
	box-shadow:
		0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 10px rgba(255,255,255,0.2),
		inset 0 10px 20px rgba(255,255,255,0.25),
		inset 0 -15px 30px rgba(0,0,0,0.3);
	background:rgba(0,0,0,0.25);
}
#infoBox:hover:after {
  content: "(Click an image for more information)";
  margin-left: 50px;
}
